header{
    height: 5px;
}
div>p{
    text-align: left;
    color: #312a2a;
    font-size: 13px;
}
.input-field,
.range-field{
    margin: 0 0 5px 0;
}
.input-field label {
    left: 0;
}
.color>p,
.color>div{
    display: inline-block;
}
.color{
    margin: 0 0 5px 0;
}
.color>p{
    margin: 0 5px 0 0;
}
.color{
    display: flex;
    align-items: center;
}
.text-area{
    width: 100%;
    margin: 0 auto;
}
.input-field.text-area,
.range-field.text-area{
    margin-bottom: 5px;
}
button {
    margin: 5px 5px 5px 0;
}
.left{
    text-align: left;
}

#result {
    margin: 5px auto;
    text-align: center;
}
#result img {
    display: block;
    margin: 5px auto;
}
.konvajs-content {
    margin: 0 auto;
}
ul.dropdown-content.select-dropdown li span {
    font-size: 30px;
}